<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>My Films</h1>
        <ul>
            {% for film in films %}
            <li>{{ film.title }} / {{ film.genre }} / {{ film.release_year }}</li>
            {% endfor %}
        </ul>
    
        <form method="POST" action="/films ">
            <input type="text" name="title" placeholder="Title"><br>
            <input type="text" name="genre" placeholder="Genre"><br>
            <input type="text" name="release_year" placeholder="Release Year"><br>
            <input type="submit" value="Submit">
        </form>
    
    </body>
</html>

