<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Welcome to AceReads</h1>
        <p> Discover your next favourite read. Browse our curated collection of books and meet the authors behind them.</p>
        <img src="https://cdn-icons-png.flaticon.com/512/5078/5078755.png" alt="book_icon">
        <ul> 
            <li> <a href="/books">Browse Books </a></li>
            <li><a href="/authors">Browse Authors </a></li>
        </ul>
    </body>
</html>
